/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-while {
    color: #fff !important;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block; 
}
#nav>li {
    display: inline-block;
   
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    
    padding: 0 24px;
    line-height: 46px;
    display: inline-block;
}

#nav>li:hover>a, #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    color: #000;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
    width: 100%;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-mui-ten {
    font-size: 14px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}

#header .search-button:hover {
    background-color: #f44336;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/w3_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 46px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    
}

#slider .text-description {
    margin-top: 20px;
}

#content {
    /* min-height: 1500px;
    background-color: #ccc; */
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}



#content .section-heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0;
    font-weight: 400;
    font-size: 30px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    /* can deu hai ben */
    line-height: 1.4;
    text-align: justify;
    margin: 15px 0;
}

#content .member-list {
    padding: 32px 0;
    
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    
    margin: 15px 0;
}

#content .member-img {
    margin-bottom: 16px;
    width: 152px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

#content .ticket-list {
    background-color: #fff;
    margin: 35px 0;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    color: #757575;
    list-style-type: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin: 0 16px;
}

.ticket-list .quantity {
    float: right;
    color: #fff;
    height: 24px;
    width: 24px;
    background-color: #000;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    /* neu ko co float thi ko margin am dc */
}

.place-list {
    /* padding: 0 8px; */
    margin: 32px -8px 0;
    /* CHU Y PHAN NAY */
    padding-bottom: 48px;
}

.place-item {
    float: left;
    width: 33.3333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
    /* khi lam co 1 khaong den ow duoi img */
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 0.15px 16px ;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0;
}

.place-time {
    margin: 15px 0;
    opacity: 0.6;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-btn {
    
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

#footer {

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 5px;
}

.modal-heading-icon {
    margin: 0 10px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;

}

#buy-ticket {
    background-color: #009688;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

#buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    
}

.modal-footer a {
    color: #2196F3;
}

/* tao chuyen dong lien tiep */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}



